/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	line-height: 1.6;
	color: #fff;
	caret-color: #72bef8;
}

.todo-completed p {
	color: rgba(255, 255, 255, 0.4);
	text-decoration: line-through;
}

.todo-completed button:first-child {
	background: linear-gradient(
		131.73deg,
		rgba(114, 190, 248, 0.8) 14.46%,
		rgba(166, 116, 242, 0.8) 87.62%
	);
}

.todo-completed button svg path {
	fill: #fff;
}
